<a href="https://colab.research.google.com/github/SPSSURYA/Python-BOOT-CAMP/blob/master/Day_3_Session_3_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
class cylinder():
  def __init__(self,radius,height):
    self.radius=radius
    self.height=height
  def area(self):
    return math.pi*(self.radius*self.radius*self.height)
  def perimeter(self):
    return 2*math.pi*self.radius*self.height
r=int(input("Enter radius of circle: "))
h=int(input("Enter heiht of cylinder"))
obj=cylinder(r,h)

print("Area of cylinder:",round(obj.area(),2))
print("Perimeter of cylinder:",round(obj.perimeter(),2))

Enter radius of circle: 4
Enter heiht of cylinder6
Area of cylinder: 301.59
Perimeter of cylinder: 150.8

In [9]:
class Student():
  def __init__(self):
    self.name=None
    self.rollno=None
    self.mark1=None
    self.mark2=None
  def setdata(self,name,rollno,mark1,mark2):
    self.name=name
    self.rollno=rollno
    self.mark1=mark1
    self.mark2=mark2
  def displaydata(self):
    print(f'Name: {self.name}   Rollno: {self.rollno}    Mark1: {self.mark1}    Mark2: {self.mark2}')
obj1=Student()
obj1.setdata('raja', 48,78,45)
obj2=Student()
obj2.setdata('beem',94,35,94)
obj3=Student()
obj3.setdata('raju',45,99,85)
obj1.displaydata()
obj2.displaydata()
obj3.displaydata()

Name: raja   Rollno: 48    Mark1: 78    Mark2: 45
Name: beem   Rollno: 94    Mark1: 35    Mark2: 94
Name: raju   Rollno: 45    Mark1: 99    Mark2: 85

In [13]:
class Person():
  def __init__(self, name, idnumber):
    self.name=name
    self.idnumber=idnumber
  def display(self):
    print(f'Name: {self.name}\nIDNumber: {self.idnumber}')

class Employee(Person):
  def __init__(self,name, idnumber, salary, post):
    self.salary=salary
    self.post=post
    super(Employee,self).__init__(name, idnumber)
  def display(self):
    super(Employee,self).display()
    print(f'Salary: {self.salary}\nPost: {self.post}')

x=Person('raju',842)
print('Parent Class')
x.display()
print()
a=Employee('raja',785,64852,'HR')
print('Child Class')
a.display()
print()
b=Employee('beem',781,53035,'ViceChariman')
print('Child Class')
b.display()

Parent Class
Name: raju
IDNumber: 842

Child Class
Name: raja
IDNumber: 785
Salary: 64852
Post: HR

Child Class
Name: beem
IDNumber: 781
Salary: 53035
Post: ViceChariman

In [23]:
class student:
  def getStudent(self, rollno, name):
    self.rollno=rollno
    self.name=name

class test(student):
  def getMarks(self,math,science):
    self.math=math
    self.science=science
 
class marks(test):
  def display(self):
    print(f'Name: {self.name}\nRoolno.: {self.rollno}\nMaths: {self.math}\nScience: {self.science}\nAverage: {(self.math+self.science)/2}')

r=int(input('Enter the Rollno.: '))
name=input('Enter the Name: ')
math=int(input('Enter the marks of maths: '))
science=int(input('Enter the marks of science: '))
c=marks()
c.getStudent(r,name)
c.getMarks(math,science)
c.display()

Enter the Rollno.: 45
Enter the Name: raja
Enter the marks of maths: 84
Enter the marks of science: 96
Name: raja
Roolno.: 45
Maths: 84
Science: 96
Average: 90.0

In [20]:
class India:
  def capital(self):
    print("Capital of india : Delhi")
  def currency(self):
    print("Indian currency : Rupee")
  def language(self):
    print("Indian Language : Hindi and English")

class Usa:
  def capital(self):
    print("\nCapital of USA : Washington DC")
  def currency(self):
    print("USA currency : Dollar")
  def language(self):
    print('USA language : English')

obj1 = India()
obj2 = Usa() 
cont = [obj1,obj2]
for obj in cont:
  obj.capital()
  obj.currency()
  obj.language()

Capital of india : Delhi
Indian currency : Rupee
Indian Language : Hindi and English

Capital of USA : Washington DC
USA currency : Dollar
USA language : English