<a href="https://colab.research.google.com/github/SPSSURYA/Python-BOOT-CAMP/blob/master/Day_2_Session_2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import operator
d={}
a=int(input("Enter the number"))
for i in range (a) :
  n=input(f"Enter The Name : ")
  d[n]=int(input(f"Enter The Marks  "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter the number4
Enter The Name : SUHAS
Enter The Marks  85
Enter The Name : SEENA
Enter The Marks  98
Enter The Name : SURYA
Enter The Marks  99
Enter The Name : SAI
Enter The Marks  82
{'SURYA': 99, 'SEENA': 98, 'SUHAS': 85, 'SAI': 82}

In [5]:
import operator
d={}
a=int(input("Enter the number"))
for i in range (a) :
  n=input(f"Enter The Name : ")
  d[n]=int(input(f"Enter The Salary  "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), )))

Enter the number4
Enter The Name : surya
Enter The Salary  88135
Enter The Name : sai
Enter The Salary  7845
Enter The Name : suhas
Enter The Salary  9563
Enter The Name : seena
Enter The Salary  6452
{'seena': 6452, 'sai': 7845, 'suhas': 9563, 'surya': 88135}

In [6]:
import operator
d={}
a=int(input("Enter the number"))
for i in range (a) :
  n=input(f"Enter The Name : ")
  d[n]=int(input(f"Enter The Salary  "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), )))
print(f"Sum: {sum(d.values())}")
print(f"Max: {max(d.values())}")
print(f"Min: {min(d.values())}")
print(f"Average: {sum(d.values())/len(d)}")

Enter the number4
Enter The Name : seena
Enter The Salary  9845
Enter The Name : sai
Enter The Salary  8756
Enter The Name : surya
Enter The Salary  9245
Enter The Name : suhas
Enter The Salary  8456
{'suhas': 8456, 'sai': 8756, 'surya': 9245, 'seena': 9845}
Sum: 36302
Max: 9845
Min: 8456
Average: 9075.5

In [7]:

d={}
a=int(input("Enter the number"))
for i in range (a) :
  n=input(f"Enter The Name : ")
  d[n]=int(input(f"Enter The Salary  "))
print(dict([(k,v) for k,v in d.items() if 2000<v<4000]))

Enter the number4
Enter The Name : sai
Enter The Salary  3512
Enter The Name : surya
Enter The Salary  6015
Enter The Name : suhas
Enter The Salary  3999
Enter The Name : seena
Enter The Salary  8745
{'sai': 3512, 'suhas': 3999}

In [9]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One hundred',200:'Two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}
num=int(input("Enter the integer between 100 to 999:"))
print(f"{d[num//100*100]} {d[((num//10)%10)*10]} {d[num%10]}")

Enter the integer between 100 to 999:648
six hundred fourty eight

TEXT

In [12]:
f=open("/content/sps.txt","r")
t=f.read()
c=0
for i in t:
  if(i!=" " and i!='\n'):
    c=c+1
print(c)

46

In [18]:
file_txt = open("/content/sps.txt","r")		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

4 : 2
5 : 2
6 : 2
7 : 1
2 : 1
3 : 1

In [21]:
name1 = input("Enter file to  read : ")
name2 = input("Enter file to appended : ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to  read : /content/sps.txt
Enter file to appended : /content/sps1.txt

In [20]:
file_txt = open("/content/sps.txt","r")		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i == " "):
		 charc += 1
 
print ("total num of spaces: ",charc);

total num of spaces:  9

In [23]:
with open('/sps.txt', 'r') as f:
  with open("/sps1.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("sps1.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

FileNotFoundError: ignored