<a href="https://colab.research.google.com/github/SPSSURYA/Python-BOOT-CAMP/blob/master/Day_3_Session_3_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import math
class cylinder():
  def __init__(self,radius,height):
    self.radius=radius
    self.height=height
  def area(self):
    return math.pi*(self.radius*self.radius*self.height)
  def perimeter(self):
    return 2*math.pi*self.radius*self.height
r=int(input("Enter radius of circle: "))
h=int(input("Enter heiht of cylinder"))
obj=cylinder(r,h)

print("Area of cylinder:",round(obj.area(),2))
print("Perimeter of cylinder:",round(obj.perimeter(),2))

Enter radius of circle: 4
Enter heiht of cylinder6
Area of cylinder: 301.59
Perimeter of cylinder: 150.8

In [ ]:
class student():
  def __init__(self,name,rollno,mark1,mark2):
    self.name=name
    self.rollno=rollno
    self.mark1=mark1
    self.mark2=mark2
  def setdata(self):
    return name
    return rollno
    return mark1
    return mark2
  def displaydata(self):
    return name
    return rollno
    return mark1
    return mark2
name=input("Enter the name")
rollno=input("Enter the rollno")
mark1=input("Enter the mark1")
mark2=input("Enter the mark2")
obj1=student()
obj2=student()
obj3=student()
obj1.displaydata()
obj2.displaydata()
obj.displaydata()

In [10]:
class Student: 
 
 stdCount = 0 
 #defining the constructor 
 def __init__(self, name, rollno, mark1, mark2): 
  self.name = name 
  self.rollno = rollno
  self.mark1 = mark1
  self.mark2 = mark2 
  Student.stdCount += 1 
  
 #defining the member functions 
 def setdata(self): 
  print("Total Student %d" % student.stdCount) 
 def displaydata(self): 
  print ("Name : ", self.name, "\n RollNo: ", self.rollno,"Mark1 : ", self.mark1, "\n Mark2 : ",self.mark2 ) 
  
obj1 = Student("Raju",425,75,89,66) 
obj2 = Student("Ram", 492,53,78,97)
obj3 = Student("Beem",246,45,64,88)
obj1.displaydata() 
obj2.displaydata() 
obj3.displaydata()
print("Total Students %d" % Student.stdCount)

TypeError: ignored

In [12]:
class Employee: 
 'Common base class for all employees' 
 empCount = 0 
 #defining the constructor 
 def __init__(self, name, salary): 
  self.name = name 
  self.salary = salary 
 Employee.empCount += 1 
  
 #defining the member functions 
 def displayCount(self): 
  print("Total Employee %d" % Employee.empCount) 
 def displayEmployee(self): 
  print ("Name : ", self.name, ", Salary: ", self.salary) 
"This would create first object of Employee class" 
emp1 = Employee("Zara", 2000) 
"This would create second object of Employee class" 
emp2 = Employee("Manni", 5000)
emp1.displayEmployee() 
emp2.displayEmployee() 
print("Total Employee %d" % Employee.empCount)

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 0
Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 0